<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2009 Lambico Team <lucio.benfante@gmail.com> This file 
	is part of Lambico Example - Console Spring Hibernate. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lambico="http://www.lambico.org/schema/lambico"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.lambico.org/schema/lambico http://www.lambico.org/schema/lambico.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.recipesearch.hibernatesearch.bo" />
	<!-- Authomatic discovering of persistent classes -->
	<lambico:discover-persistent-classes
		basePackage="org.recipesearch.hibernatesearch.po" />
	<!-- Authomatic DAO definition from persistent classes -->
	<lambico:define-daos baseInterfacePackage="org.recipesearch.hibernatesearch.dao" />

	<bean id="daoExceptionManager" class="org.lambico.dao.BypassingExceptionManager" />
</beans>
