<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<!-- 
	<bean id="tilesDefinitionUrls" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>file://${basedir}/src/main/webapp/WEB-INF/tiles/defs/default.xml
				</value>
			</list>
		</constructor-arg>
	</bean>
 -->
</beans>
