<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:parancoe="http://www.parancoe.org/schema/parancoe"
       xmlns:parancoe-web="http://www.parancoe.org/schema/parancoe-web"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.parancoe.org/schema/parancoe http://www.parancoe.org/schema/parancoe.xsd
       http://www.parancoe.org/schema/parancoe-web http://www.parancoe.org/schema/parancoe-web.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <context:component-scan base-package="org.recipesearch.web.blo"/>
    <parancoe:define-daos basePackage="org.recipesearch.web"/>
    <parancoe:discover-persistent-classes basePackage="org.recipesearch.web.po"/>

    <bean id="conf" class="org.recipesearch.web.Conf" parent="abstractConf"/>

    <bean id="securedBeanNames" class="java.util.ArrayList">
        <!-- here the names of the beans secured through annotations -->
        <constructor-arg>
            <list>
                <value>fakeBeanName</value>
            </list>
        </constructor-arg>
    </bean>

</beans>